h1.header_page {
    color: #5A6C80;
    line-height: 1.1;
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 20px;
    padding-left:0;
    margin-right: 0;
    margin-top:0;
}

.css-gws64t.e1fqkh3o5 {
    color:white;
}

.css-1u5kwm1.e1fqkh3o5 {
    color:white;
}

.css-1y4p8pa {
    color: #5A6C80;
    line-height: 1.3;
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 10px;
    padding-left:0;
    margin-right: 0;
    margin-top:0;
}

"this styles the rounded boxes on the App page"
section.css-vk3wp9.e1fqkh3o11 {
  background-color: #5F7800;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

"this controls the style of the sidebar"
div.css-1nm2qww.e1fqkh3o2 {
    background-color: #5F7800;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    padding: 0;
    margin-right: 0;
    margin-top:0;
}

"this controls the style of the X button of the sidebar"
div.css-173clwd.e1fqkh3o2 {
    color:white;

}


span.css-pkbazv.e1fqkh3o5 {
    background-color: transparent;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    padding: 0;
    margin-right: 0;
    margin-top:0;
}


span.css-17lntkn.e1fqkh3o5 {
    background-color: transparent;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    padding: 0;
    margin-right: 0;
    margin-top:0;
}


div.header {
    color: #5A6C80;
    line-height: 1.3;
    font-size: 30px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 20px;
    padding-left:0;
    margin-right: 0;
    margin-top:0;
}


.paragraph {
    color: #5A6C80;
    font-size: 18px;
    padding-top: 40px;
    padding-left:0;
    padding-bottom:20px
}


.bullet_points {
    color: white;
    font-size: 18px;
    background-color: #5F7800;
    font-weight: lighter;
    width:80%;
    padding-left: 30px;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom: 10px;
    margin-left:10px;
    margin-right:30px;
    border-radius: 30px;
    list-style:circle;
    display: inline-block;
    line-height: 1.2
}


.container {
    color: #5A6C80;
    font-size: 18px;
    background:#F2F2F2;
    font-weight: 600;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top:30px;
}


a:link {
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}


a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}


.navbar-brand {
    margin-left: 0;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    padding-left: 10%;
    border-radius: 100px;
}


.navbar-nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    border-radius: 100px;
    height:60px;
}


.normal_page_text {
    color: #5A6C80;
    line-height: 1.1;
    font-size: 18px;
    border-radius: 5px;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom:10px;
    margin-right: 0;
    margin-top:0;
}


.additionnal_info {
    color: #A6A6A6;
    line-height: 1.1;
    font-size: 16px;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom:3px;
    margin-right: 0;
    margin-top:0;
}


#additionnal_info a:link {
    color: #A6A6A6;
    background-color: transparent;
    border-color: #5F7800;
    border-width: 4px;
    font-size: 16px;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom:3px;
    margin-top:0;
    text-decoration: none;
}

#additionnal_info a:visited {
    color: #A6A6A6;
    background-color: transparent;
    font-size: 16px;
    font-weight: normal;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0;
    text-decoration: none;
}

"this controls the top buttons on the page, and the way they behave on hover and visited"
#additionnal_info a:hover {
    color: #FFB53C;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom:3px;
    margin-top:0;
    text-decoration: none;
}

div.stButton > button {
    background-color: white;
    color: #5F7800;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}


div.stButton > button:hover {
    background-color: #5F7800;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.stButton >button:active {
    background-color: #AFCB74;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

div.stButton >button:visited {
    background-color: #FFB53C;
    color: #FFB53C;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}



"this css controls the styling of the sidebar"
div.css-79elbk.e1fqkh3o10 {
    background-color: #FFB53C;
    border-color: darkgreen;
}